@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto Mono", monospace;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #5bc0f8;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 1em;
}

.search {
  margin: 1.5em;
}
.display {
  display: none;
  margin: 0.7em 1.7em 0.7em 0;
  border-radius: 10px;
  background: #86e5ff;
  width: auto;
  padding: 20px;
}
#heading {
  font-weight: normal;
  margin-bottom: 1em;
}
